/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */
@import "bootstrap-sprockets";
@import "bootstrap";
.red-point {
    position: relative;
}

    .red-point::before {
        content: " ";
        border: 3px solid red; 
        border-radius: 3px; 
        position: absolute;
        z-index: 1000;
        right: 0%;
        bottom: 0%;
        margin-right: -10px;
        margin-bottom: 8px;
    }
.green-point {
    position: relative;
}

    .green-point::before {
        content: " ";
        border: 3px solid green;
        border-radius: 3px; 
        position: absolute;
        z-index: 1000;
        right: 0%;
        bottom: 0%;
        margin-right: -10px;
        margin-bottom: 8px;
    }
.yellow-point {
    position: relative;
}

    .yellow-point::before {
        content: " ";
        border: 3px solid yellow; 
        border-radius: 3px; 
        position: absolute;
        z-index: 1000;
        right: 0%;
        bottom: 0%;
        margin-right: -10px;
        margin-bottom: 8px;
    }