<footer class="footer bar">
  
  <nav>
    <ul>
      <li>
        <a href="https://www.facebook.com/">Facebook</a>.
      </li>
      <li>
        <a href="https://twitter.com/">Twitter</a>.
      </li>
      <li>
        <a href="https://www.linkedin.com/">Linkedin</a>.
      </li>
      
    </ul>
  </nav>
</footer>