<header class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Showcase",   root_path %></li>
        <li><%= link_to "Contact us",   contact_path %></li>
        
        
        
      </ul>
    </nav>
  </div>
</header>